<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szr.docmanagerweb.mapper.SectionTagMapper">
    <insert id="insertBatch">
        INSERT INTO section_tag (section_id, tag_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.sectionId}, #{item.tagId})
        </foreach>
    </insert>
</mapper>
